:root{
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-title: #6c757d;
    --color-text: #212529;
    --color-bg: #fff;
    --font-title: fuente;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--color-text);
}
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    background-color: var(--color-primary);

}
nav {
    margin: 25px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-title);
}
nav ul li a:hover {
    color: white;
}
main{
    width: 100vw;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}
footer {
    width: 100vw;
    min-height: 150px;
    background-color: var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

footer ul {
    list-style-type: none;

}
footer ul li {
    color: var(--color-bg);
    text-decoration: none;
}
footer-img {
    margin: 25px;
}

.about {
    display: flex;
    padding: 25px;
}

.about-content {
    width:350px;
    padding: 50px;
}
.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
}
@font-face {
    font-family: fuente;
    src: url('../fonts/fuente.ttf');
}