{% load static%}
<footer>
    <img src="{% static 'img/logo.png' %}" with="32"/> 
    <ul>
        <li><a href="https://turbologo.com/es/app">Diseñador logotipo - Turbologo</a></li>
        <li><a href="https://turbologo.com/es/app">Diseñador logotipo - Turbologo</a></li>
        <li><a href="https://turbologo.com/es/app">Diseñador logotipo - Turbologo</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
         
    </ul> 
    <ul>
        <li><a href="">Contacto</a></li>
        <li><a href="">Acerca de</a></li>
        <li><a href="https://facebook.com">Facebook</a></li>
         
    </ul> 
</footer>
