
{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Consultas On-Demand</h1>
    <div class="about">
        <img src="https://img.freepik.com/vector-gratis/plantilla-construccion-estilo-plano_23-2147759639.jpg?w=740&t=st=1687297992~exp=1687298592~hmac=07ba9ee64eadccd42efe215b339490e220e9ec73788378a30c8a2d02b4d5e6d3">
        
    </div>
    <div class="about-content">
        <h3>Esta página está en construcción</h3>
        <p> Estamos trabajando para optimizar recursos y mejorar la experiencia en las consultas</p>
    </div>
{% endblock %}